body {
	background-image: url("https://www.throwbacks.com/content/images/2017/05/e60841242a33409f6ad99f7b79cc2c92-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.container {
	margin-top: 200px;
	background: rgba(255, 255, 255, 0.85);
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
	padding: 1000;
}

h1 {
	color: red;
}
